<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>React Guestbook</title>

        <link href="/static/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/static/vendor/bootflatv2/bootflat/css/bootflat.css" rel="stylesheet">
        <link href="/static/styles/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col-md-8" id="react"></div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script src="/static/scripts/main.js"></script>
    </body>
</html>
